# Dependencias base para proyectos de Ciencia de Datos
jupyterlab
pandas
numpy
scikit-learn
matplotlib
seaborn
python-dotenv
fastapi
uvicorn
joblib
geopandas
shapely
contextily

# Para visualización de mapas interactivos
folium


# Archivos estaticos
aiofiles